bin/**
obj/

Editor/bin
Engine/bin
Engine/Library
Game/bin
GameCooker/bin
Platforms/Android/bin
Platforms/Desktop/bin
SharedTypes/bin
SharedTypes/Library

.vs/
/Game/Library
*.user
Platforms/Desktop/Properties/PublishProfiles/FolderProfile.pubxml
Platforms/Android/Assets/
Platforms/Android/Properties/PublishProfiles/FolderProfile.pubxml
_Ship/
Editor/Third/native/cimnodes/_build/
Editor/Third/native/cimnodes/cimgui/imgui/
Editor/Third/native/cimnodes/imnodes/vcpkg/
Editor/Third/native/cimnodes/out/
Editor/Third/native/ImAllGui/cimnodes/cimgui/imgui/examples/
Editor/Third/native/ImAllGui/imgui/backends/
Editor/Third/native/ImAllGui/imgui/examples/
Editor/Third/native/ImAllGui/cimnodes/cimgui/imgui/
Editor/Third/native/ImAllGui/_build/
Editor/Third/native/ImAllGui/out/

*.pdb
*.bin
Editor/Third/native/out/
Engine/Third/Native/glfw/_bin/
Editor/Third/native/_build/
Platforms/Android/Resources/values/strings.xml
Editor/Data/imgui.ini
