bin/
obj/
.vs/
/Game/Library
*.user
Platforms/Desktop/Properties/PublishProfiles/FolderProfile.pubxml
Platforms/Android/Assets/
Platforms/Android/Properties/PublishProfiles/FolderProfile.pubxml
_Ship/
